.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Emacs
*~
\#*

### Kirby temp data
*.sess
*.cache

### Source will be handled in own Repositories
src/**
src/site/accounts/*/.htpasswd
src/site/accounts/*/user.txt

tags
